.top-header{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.menu{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}
